<div class="content-wrap">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 offset-2">
        <form #f="ngForm" class="form-horizontal" (ngSubmit)="signup()">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <span class="login-icon"><i class="fas fa-user-plus"></i></span>
              <h3 class="text-center">Signup</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="fname">First Name</label>
                <input
                  type="text"
                  id="fname"
                  class="form-control"
                  name="fname"
                  [(ngModel)]="userForm.fname"
                  pattern="[a-zA-Z][a-zA-Z ]+"
                  #fname="ngModel"
                  required>
                <div class="alert alert-danger" *ngIf="fname.touched && fname.invalid">
                  <div *ngIf="fname.errors.required">First Name is required!</div>
                  <div *ngIf="fname.errors.pattern">Only alphabets allowed!</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="lname">Last Name</label>
                <input
                  type="text"
                  id="lname"
                  class="form-control"
                  [(ngModel)]="userForm.lname"
                  pattern="[a-zA-Z][a-zA-Z ]+"
                  #lname="ngModel"
                  name="lname"
                  required>
                <div class="alert alert-danger" *ngIf="lname.touched && lname.invalid">
                  <div *ngIf="lname.errors.required">Last Name is required!</div>
                  <div *ngIf="lname.errors.pattern">Only alphabets allowed!</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="email">E-mail</label>
                <input
                  type="text"
                  id="email"
                  class="form-control"
                  [(ngModel)]="userForm.email"
                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                  #email="ngModel"
                  name="email"
                  required>
                <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
                  <div *ngIf="email.errors.required">Email is required!</div>
                  <div *ngIf="email.errors.pattern">Email format should be <small><b>name@abc.com</b></small>!</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="phone">Mobile</label>
                <input
                  type="text"
                  id="phone"
                  class="form-control"
                  [(ngModel)]="userForm.phone"
                  pattern="[0-9]*"
                  minlength="10"
                  maxlength="10"
                  #phone="ngModel"
                  name="phone"
                  required>
                <div class="alert alert-danger" *ngIf="phone.touched && phone.invalid">
                  <div *ngIf="phone.errors.required">Mobile is required!</div>
                  <div *ngIf="phone.errors.pattern && !phone.errors?.required">Mobile number should be only numbers!</div>
                  <div *ngIf="phone.errors.minlength && !phone.errors?.required">Mobile should be 10 digit!</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" ngModelGroup="passwordGroup">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="text"
                  id="password"
                  class="form-control"
                  [(ngModel)]="userForm.password"
                  minlength="6"
                  #password="ngModel"
                  name="password"
                  (input)="confirmPassword.control.updateValueAndValidity()"
                  required>

                <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
                  <div *ngIf="password.errors.required">Password is required!</div>
                  <div *ngIf="password.errors.minlength">Password should be minimum 6 digit!</div>
                </div>
                <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid && !confirmPassword.errors?.required">Confirm password does not match!</div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="confirmPassword">Conform Password</label>
                <input
                  type="text"
                  class="form-control"
                  id="confirmPassword"
                  [(ngModel)]="userForm.confirmPassword"
                  #confirmPassword="ngModel"
                  appConfirmEqualValidators="password"
                  name="confirmPassword"
                  required>
                <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.errors?.required">
                  Confirm Password is required!
                </div>
                <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual && !confirmPassword.errors?.required">
                  Password and confirm password does not match!
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <div class="form-group">
                <button
                  type="submit"
                  class="btn btn-info btn-block"
                  [disabled]="f.invalid">
                  <i class="fas fa-sign-in-alt"></i> Signup
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
              <div class="alert alert-success" role="alert">
                <p class="mb-0">If you already have an account with us, please <a routerLink="/login" class="alert-link">Login</a> Here!</p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
